*_Python/
.env
.secret
SSH_Keys/
*__pycache__/
*__pycache__*
*.sqlite*

*.vscode*/

Others/Packages/*
!Others/Packages/package.json
!Others/Packages/webpack.config.js

Others/Scripts/*.js
Inko_Site/resources/js/bundles/

*vsdx

Inko_Site/media/*


Inko_Site/*/migrations/*
!Inko_Site/*/migrations/__init__.py